html,
body,
#app {
  margin: 0;
  padding: 0;
}

.btn {
  @apply px-4 py-1 rounded inline-block
   text-white cursor-pointer
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}
