
/* 定义 slide 动画的 CSS */
@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-left {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translate(-100%);
    opacity: 1;
  }
}

@keyframes slide-out-to-right {
  0% {
    transform: translate(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-top {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-bottom {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.drawer-left-enter-active, .drawer-left-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.drawer-left-enter-active {
  animation-name: slide-in-from-left;
}

.drawer-left-leave-active {
  animation-name: slide-out-to-left;
}

.drawer-right-enter-active, .drawer-right-leave-active {
  animation-fill-mode: both;
  animation: slide-in-from-right 0.3s forwards;
}

.drawer-right-enter-active {
  animation: slide-in-from-right 0.3s forwards;
}

.drawer-right-leave-active {
  animation: slide-out-to-right 0.3s forwards;
}

.drawer-top-enter-active, .drawer-top-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.drawer-top-enter-active {
  animation-name: slide-in-from-top;
}

.drawer-top-leave-active {
  animation-name: slide-out-to-top;
}

.drawer-bottom-enter-active, .drawer-bottom-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.drawer-bottom-enter-active {
  animation-name: slide-in-from-bottom;
}

.drawer-bottom-leave-active {
  animation-name: slide-out-to-bottom;
}
